<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
    <link href="/assets/stylesheets/styles.css" rel="stylesheet"/>
    <link href="/assets/stylesheets/pygment_trac.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="wrapper">
      {{ content }}
    </div>

    <script type="text/javascript" src="/assets/javascripts/scale.fix.js"></script>
  </body>
</html>
